---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  
<br>
  <p><em>{frontmatter.description}</em></p>
  <br>
  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>

  <p>Escrito por: {frontmatter.author}</p>

  <img src={frontmatter.image.url} alt={frontmatter.image.alt} />

 
  <slot/>
  <h3>Tags:</h3>
  <div class="tags" style="padding-top: 10px;">
    
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>

</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tags a {    
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    margin: 0 10px 10px 0;
    padding: 0 10px 0 12px;
    background: #fff; 
    border-width: 1px;
  border-style: groove;
  border-color: black;   
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: black;
    font-size: 12px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: console;
  }
 
  
</style>